
body
{
    font-family: Arial, Sans-Serif;
    font-size: 18px;
    width:800px;
    margin: 0 auto;
}
.main_content
{
    background-color: #d6e5f4;
    padding: 20px;
    border: solid #d6e5f4 1px;
    border-radius: 0 0 10px 10px;
}
.main_content input[type="text"], #inputArea textarea
{
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    width: 90%;
    border: solid 1px #85b1de;
    font-size:16px;
    margin:10px auto;
}
.btn
{
    padding: 4px;
    width: 20%;
    font-size:16px;
    margin:10px auto;
    /*
    margin-bottom: 5px;
    border: solid 1px #85b1de;
    */
    display: block;
}

.activeField
{
    background-image: none;
    background-color: #ffffff;
    border: solid 1px #33677F;
}
.idle
{
    /*border: solid 1px #85b1de;*/
}
.div_msg{
border: solid #eeeedd 1px; border-radius: 6px; color: black; background: #ffefa8; margin: 0px; padding: 6px 12px; font-weight: bold; font-size: 14pt; 
}
table{
    width:100%;
	border-collapse: collapse;
}
th {
    /*
	font-weight:normal;
	background:#cccccc;
    */
}
td,th {
    padding:5px;
	text-align:center;
	border:1px #c2d2ef solid;
}
#inputArea a {
    color: #336699;
    text-decoration:none;
}

#inputArea a:hover {
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
    text-decoration:none;
}
li img {
    vertical-align:text-bottom;
}

.red {
    color:red;
}
.hidden {
    display:none;
}
