
body
{
    width:800px;
    margin: 0 auto;
    font-size:14px;
}
.red {color:red;}
.hidden {display:none;}
.tleft {text-align:left;}
.tright {text-align:right;}

#sidebar {
    position: absolute;
    background-color: #EDEDED;
    background-image: linear-gradient(top, #EDEDED, #F5F5F5);
    background-image: -webkit-gradient(
        linear,
        left top,
        left 500,
        color-stop(0, #EDEDED),
        color-stop(1, #F5F5F5)
    );
    background-image: -moz-linear-gradient(
        center top,
        #EDEDED 0%,
        #F5F5F5 100%
    );
    background-image: -o-linear-gradient(top, #EDEDED, #F5F5F5);
    width: 219px;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid #C2C2C2;
    box-shadow: inset -8px 0 30px -30px black;
}

#icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    left: 12px;
}

#sidebar h1 {
    position: absolute;
    top: 13px;
    right: 5px;
    font-size: 1.8em;
    color: #707070;
}

#tab-container {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
}

#tab-container .tab {
    height: 28px;
    padding-right: 25px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 1em;
    line-height: 28px;
    color: #808080;
}

#tab-container .tab.active{
    background-color: #D4D4D4;
    border-color: #BFBFBF;
    color: black;
    text-shadow: #DBDBDB 0 1px 0;
    box-shadow: inset -12px 0 30px -30px black;
}
#tab-container a{
    text-decoration:none;
    color: #808080;
}
#tab-container a:hover, #tab-container a:active {
    text-decoration:underline;
    cursor: pointer;
    color: black;
}

#content {
    position: absolute;
    top: 0;
    left: 220px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.tab-content {
    display: none;
    position: absolute;
    width: 900px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-top: 15px;
}
.tab-content h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.5em;
    color: #707070;
    line-height: 1;
}

.setting.group {
    border-top: 1px solid #EEEEEE;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 2px;
}

.setting.group-name {
    width: 140px;
    padding: 0;
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: top;
}
#table_proxy_list {
    font-size:0.9em;
}
#proxy_setting table {
    margin-bottom:0.5em;
}
#proxy_setting ul {
    margin-bottom:0.5em;
}

